export EMAIL_FROM_ADDR=""
export EMAIL_TO_ADDR=""
export EMAIL_PASSWORD=""
export CLOUD_S3_ENDPOINT_URL=""
export CLOUD_S3_BUCKET_NAME="newsradar"
export CLOUD_S3_ACCESS_KEY_ID=""
export CLOUD_S3_SECRET_ACCESS_KEY=""
export CLOUD_S3_REGION=""
export RESOURCE_S3_ENDPOINT_URL=""
export RESOURCE_S3_BUCKET_NAME=""
export RESOURCE_S3_ACCESS_KEY_ID=""
export RESOURCE_S3_SECRET_ACCESS_KEY=""
export RESOURCE_S3_REGION=""

## LLM API configuration
export AI_API_BASE=""
export AI_API_KEY=""
export AI_MODEL=""